<%- model_class = Importantnews -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<section class="center slider">

<% if @importantnews %>
  <% @importantnews.each do |importantnews| %>
        <div class="black-ground card text-center">
          <div class="text-center ver-mas">
            <div style="margin-bottom: 10px">
              <h4><b><%= importantnews.name%> </b></h4>
              <p class="hidePartOfText"><%= importantnews.description %></p>
            </div>
            <hr>
            <% if importantnews.promonewsmultims.where(multim_type: "Imagen").length >= 1 %>
              <div class="text-center">
                <%= image_tag(importantnews.promonewsmultims.where(multim_type: "Imagen").last.reference, class: "")%>
              </div>
            <%end%>
            <hr>
            <%= link_to importantnews_path(importantnews), data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
              <label>Ver más <i class="fa fa-eye" aria-hidden="true"></i></label>
            <%end%>
          </div>
        </div>
  <%end%>
<%end%>

</section>

  <script type="text/javascript">

    $(function(){


      $(".center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 340,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ],
        slidesToScroll: 1
    });

    });
</script>
