<%- model_class = Importantnews -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @importantnews.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
      <dd><pre class="prettyprint"><%= @importantnews.description %></pre></dd>
  </dl>
</div>

<div class="container">
<div class="black-ground card text-center">
  <div class="text-center ver-mas">
    <%if (@importantnews.promonewsmultims.where(multim_type: "Video").length != 0) and (@importantnews.promonewsmultims.where(multim_type: "Video").length == 1)%>
        <div slick-slide slick-current slick-center >
          <iframe class="video_groups" frameborder="0" allowfullscreen width="100%" height="420"
          frameborder="0" allowfullscreen src=<%= "https://www.youtube.com/embed/"+@importantnews.promonewsmultims.where(multim_type: "Video").last.reference+"?controls=1" %> >
          </iframe>
        </div>
    <% end %>
    <%if (@importantnews.promonewsmultims.where(multim_type: "Video").length != 0) and (@importantnews.promonewsmultims.where(multim_type: "Video").length >= 2)%>
      <section class="videos slider">
      <% @importantnews.promonewsmultims.where(multim_type: "Video").each do |multim| %>
        <div slick-slide slick-current slick-center >
          <iframe class="video_groups" frameborder="0" allowfullscreen width="100%" height="420"
          frameborder="0" allowfullscreen src=<%= "https://www.youtube.com/embed/"+multim.reference+"?controls=1" %> >
          </iframe>
        </div>
      <%end%>
      </section>
    <% end%>
    <%if (@importantnews.promonewsmultims.where(multim_type: "Imagen").length != 0) and (@importantnews.promonewsmultims.where(multim_type: "Imagen").length == 1)%>
      <% @importantnews.promonewsmultims.where(multim_type: "Imagen").each do |importantnews| %>
            <%= image_tag(importantnews.reference, class: "")%>
      <%end%>
    <%end%>
    <%if (@importantnews.promonewsmultims.where(multim_type: "Imagen").length != 0) and (@importantnews.promonewsmultims.where(multim_type: "Imagen").length >= 2)%>
      <section class="center slider">
        <% @importantnews.promonewsmultims.where(multim_type: "Imagen").each do |importantnews| %>
              <%= image_tag(importantnews.reference, class: "imagePromo")%>
        <%end%>
      </section>
    <%end%>
  </div>
</div>

<div class="page-header">
  <h1>Comentarios:</h1>
</div>
<div class="container  jumbotron comments">
  <% @importantnews.comments.each do |comment| %>
    <div class="col-md-12">
      <div class="col-md-12">
        <span style="float: right">Creado por: <%= comment.user.name%></span>
        <span style="float: right">Creado el: <%= comment.created_at%></span>
      </div>
      <div class="col-md-12" style="color: #322d2d"><%= comment.content%>
        <hr>
      </div>
    </div>
  <%end%>
</div>

<div class="form-group ">
  <div class="col-md-12 ">
    <%= text_area_tag 'comment', nil, class: 'text_field form-control'%>
    <button style="float: right;" onclick="comentar(<%= @importantnews.id%>)">
      Comentar
    </button>
  </div>

</div>

</div>


<script type="text/javascript">

  $(function(){

      $(".videos").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
      {
        breakpoint: 1366,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 340,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ],
          slidesToScroll: 1
      });

      $(".center").slick({
      dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
      {
        breakpoint: 1366,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 340,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ],
          slidesToScroll: 1
      });

    });

  function comentar(importantnews_id){
    if ($('#comment').val()== "") {
      toastr.error("No se ha escrito ningun un comentario...")
    }
    else{
      $.ajax({
        url: '/createComment',
        type: 'POST',
        data: {
          comment: $('#comment').val(),
          importantnews_id: importantnews_id,
         },
        success: function(data) {
          $( ".comments" ).append( '<label style="float: right">Creado el : '+data.created_at+'</label><br><label>'+data.content +'</label><hr>' );
          $('#comment').val("");
        },
        error: function(data) {
          console.log(data);
        }
      });
    }

  }
</script>