<div class="container text-center">
  <section>
    <div class="loop owl-carousel owl-theme">
              <div class="item black-ground card text-center">

                  <div class="text-center ver-mas">
                    <div style="margin-bottom: 10px">
                      <h4><b>Patogenos</b></h4>
                      <p>Micro organismos que afectan tu cultivo.</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <%= image_tag("pathogen.png", class: "")%>
                    </div>
                    <hr>
                    <%= link_to pathogens_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
                       Ver m치s <i class="fa fa-eye" aria-hidden="true"></i>
                    <%end%>
                  </div>

              </div>
              <div class="item black-ground card text-center">

                  <div class="text-center ver-mas">
                    <div style="margin-bottom: 10px">
                      <h4><b>Cultivo</b></h4>
                      <p>Practicas de produccion.</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <%= image_tag("cultivo.png", class: "")%>
                    </div>
                    <hr>
                    <%= link_to cultures_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
                       Ver m치s <i class="fa fa-eye" aria-hidden="true"></i>
                    <%end%>
                  </div>

              </div>
              <div class="item black-ground card text-center">
                  <div class="text-center ver-mas">
                    <div style="margin-bottom: 10px">
                      <h4><b>Enfermedades</b></h4>
                      <p>Impacto del patogeno y sus consecuencias.</p>
                    </div>
                    <hr>
                    <div class="text-center" >
                      <%= image_tag("disease.png", class: "")%>
                    </div>
                    <hr>
                    <%= link_to diseases_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
                       Ver m치s <i class="fa fa-eye" aria-hidden="true"></i>
                    <%end%>
                  </div>
              </div>
              <div class="item black-ground card text-center">
                  <div class="text-center ver-mas">
                    <div style="margin-bottom: 10px">
                      <h4><b>Reporte de brotes</b></h4>
                      <p>Informate, reporta o reacciona a tiempo.</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <%= image_tag("smart2.png", class: "")%>
                    </div>
                    <hr>
                    <%= link_to reports_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
                       Ver m치s <i class="fa fa-eye" aria-hidden="true"></i>
                    <%end%>
                  </div>
              </div>
            </div>
  </section>
</div>

<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
    loop:true,
    margin:10,
    dots:true,
    nav:true,
    margin:20,
    center:true,
    stagePadding:3,
    nav: true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
}

    );
</script>