  <section class="center slider">
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Patogenos</b></h4>
          <p>Micro organismos que afectan tu cultivo.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("pathogen.png", class: "")%>
        </div>
        <hr>
        <%= link_to pathogens_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Cultivo</b></h4>
          <p>Practicas de produccion.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("cultivo.png", class: "")%>
        </div>
        <hr>
        <%= link_to cultures_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Enfermedades</b></h4>
          <p>Impacto del patogeno y sus consecuencias.</p>
        </div>
        <hr>
        <div class="text-center" >
          <%= image_tag("disease.png", class: "")%>
        </div>
        <hr>
        <%= link_to diseases_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Reporte de brotes</b></h4>
          <p>Informate, reporta o reacciona a tiempo.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("smart2.png", class: "")%>
        </div>
        <hr>
        <%= link_to reports_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Noticias</b></h4>
          <p>Noticias de interes y ultimas actualizaciones.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("pathogen.png", class: "")%>
        </div>
        <hr>
        <%= link_to pathogens_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Promociones y Publicidad</b></h4>
          <p>Enterate de los ultimos productos y promociones.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("pathogen.png", class: "")%>
        </div>
        <hr>
        <%= link_to pathogens_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div style="margin-bottom: 10px">
          <h4><b>Certificaciones</b></h4>
          <p>Encuentra informacion guia y acompañamiento para lograr las certificaciones.</p>
        </div>
        <hr>
        <div class="text-center">
          <%= image_tag("pathogen.png", class: "")%>
        </div>
        <hr>
        <%= link_to pathogens_path, data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
           Ver más <i class="fa fa-eye" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
  </section>

  <script type="text/javascript">

    $(function(){


      $(".center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 340,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ],
        slidesToScroll: 1
    });

    });
</script>
