<%- model_class = Pathogen -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="container">
  <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <div slick-slide slick-current slick-center >
        <% if @pathogen.multims.where(multim_type: "Imagen").length >= 1 %>
          <%if (@pathogen.multims.where(multim_type: "Imagen").length != 0) and (@pathogen.multims.where(multim_type: "Imagen").length == 1)%>
            <% @pathogen.multims.where(multim_type: "Imagen").each do |multim| %>
                  <%= image_tag(multim.link, class: "")%>
            <%end%>
          <%end%>
          <%if (@pathogen.multims.where(multim_type: "Imagen").length != 0) and (@pathogen.multims.where(multim_type: "Imagen").length >= 2)%>
            <section class="center slider">
              <% @pathogen.multims.where(multim_type: "Imagen").each do |multim| %>
                    <%= image_tag(multim.link, class: "imagePromo")%>
              <%end%>
            </section>
          <%end%>
        <%end%>
        </div>
      </div>
  </div>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @pathogen.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
      <dd><pre class="prettyprint"><%= @pathogen.description %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:epidemiology) %></dt>
      <dd><pre class="prettyprint"><%= @pathogen.epidemiology %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:taxonomic_table_id) %></dt>
      <dd>
        <div class="jumbotron">
        <dl>
          <dt class="label label-default"><%= model_class.human_attribute_name(:kingdom) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.kingdom %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:division) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.division %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:t_class) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.t_class %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:order) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.order %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:family) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.family %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:gender) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.gender %></pre></dd>
          <dt class="label label-default"><%= model_class.human_attribute_name(:species) %></dt>
          <dd><pre class="prettyprint"><%= @pathogen.taxonomic_table.species %></pre></dd>
        </dl>
        </div>

      <% if @pathogen.diseases.length >= 1 %>
        <dt class="label label-default"><%= model_class.human_attribute_name(:diseases) %></dt>
        <dd>
          <div class="btn-group" role="group">
            <% @pathogen.diseases.each do |disease|%>
              <%= link_to disease_path(disease), data: { turbolinks: false }, class: "btn btn-default" do %>
                <label><%= disease.name %></label>
              <%end%>
            <%end%>
          </div>
        </dd>
      <%end%>

      <% if @pathogen.cultures.length >= 1 %>
        <dt class="label label-default"><%= model_class.human_attribute_name(:cultures) %></dt>
        <dd>
          <div class="btn-group" role="group">
            <% @pathogen.cultures.each do |culture|%>
                <%= link_to culture_path(culture), data: { turbolinks: false }, class: "btn btn-default" do %>
                  <label><%= culture.name %></label>
                <%end%>
            <%end%>
          </div>
        </dd>
      <%end%>
  </dl>
</div>

<div class="container">
  <div class="black-ground card text-center">
      <div class="text-center ver-mas">
        <% if @pathogen.multims.where(multim_type: "Video").length >= 1 %>
          <%if (@pathogen.multims.where(multim_type: "Video").length != 0) and (@pathogen.multims.where(multim_type: "Video").length == 1)%>
              <div slick-slide slick-current slick-center >
                <iframe class="video_groups" frameborder="0" allowfullscreen width="100%" height="420"
                frameborder="0" allowfullscreen src=<%= "https://www.youtube.com/embed/"+@pathogen.multims.where(multim_type: "Video").last.link+"?controls=1" %> >
                </iframe>
              </div>
          <% end %>
          <%if (@pathogen.multims.where(multim_type: "Video").length != 0) and (@pathogen.multims.where(multim_type: "Video").length >= 2)%>
            <section class="videos slider">
              <% @pathogen.multims.where(multim_type: "Video").each do |multim| %>
                <div slick-slide slick-current slick-center >
                  <iframe class="video_groups" frameborder="0" allowfullscreen width="100%" height="420"
                  frameborder="0" allowfullscreen src=<%= "https://www.youtube.com/embed/"+multim.link+"?controls=1" %> >
                  </iframe>
                </div>
              <%end%>
            </section>
          <% end%>
        <%end%>
      </div>
  </div>
</div>

<script type="text/javascript">

  $(function(){

      $(".videos").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
      {
        breakpoint: 1366,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 340,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ],
          slidesToScroll: 1
      });

      $(".center").slick({
      dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
      {
        breakpoint: 1366,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 340,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ],
          slidesToScroll: 1
      });

    });
</script>