<%- model_class = Disease -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>


<section class="center slider">

<% if @diseases %>
  <% @diseases.each do |disease| %>
        <div class="black-ground card text-center">
          <div class="text-center ver-mas">
            <div style="margin-bottom: 10px">
              <h4><b><%= disease.name%> </b></h4>
              <p class="hidePartOfText"><%= disease.symptom %></p>
            </div>
            <hr>
            <div class="text-center">
              <%= image_tag(disease.multims.where(multim_type: "Imagen").last.link, class: "")%>
            </div>
            <hr>
            <%= link_to disease_path(disease), data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>
              <label>Ver más <i class="fa fa-eye" aria-hidden="true"></i></label>
            <%end%>
          </div>
        </div>
  <%end%>
<%end%>

</section>

  <script type="text/javascript">

    $(function(){


      $(".center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 340,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ],
        slidesToScroll: 1
    });

    });
</script>




