<%- model_class = Promotion -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<section class="center slider">

<% @promotions.each do |promotion| %>
      <div class="black-ground card text-center">
        <div class="text-center ver-mas">
          <div style="margin-bottom: 10px">
            <h4><b><%= promotion.name%> </b></h4>
            <p class="hidePartOfText"><%= promotion.description %></p>
          </div>
          <hr>
          <div class="text-center">
            <%= image_tag(promotion.promonewsmultims.where(multim_type: "Imagen").last.reference, class: "")%>
          </div>
          <hr>
          <%= link_to promotion_path(promotion), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do %>
            Ver más <i class="fa fa-eye" aria-hidden="true"></i><%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to promotion_path(promotion), data: { turbolinks: false }, class: "btn btn-default btn-ver-mas" do %>

          <%end%>
        </div>
      </div>

<%end%>

</section>

  <script type="text/javascript">

    $(function(){


      $(".center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        arrows:true,
        touchMove: true,
         focusOnSelect: true,

        responsive: [
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 340,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ],
        slidesToScroll: 1
    });

    });
</script>





