<%= form_for(multim) do |f| %>
  <% if multim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multim.errors.count, "error") %> prohibited this multim from being saved:</h2>

      <ul>
      <% multim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :multim_type %>
    <%= f.number_field :multim_type %>
  </div>

  <div class="field">
    <%= f.label :culture_id %>
    <%= f.number_field :culture_id %>
  </div>

  <div class="field">
    <%= f.label :pathogen_id %>
    <%= f.number_field :pathogen_id %>
  </div>

  <div class="field">
    <%= f.label :disease_id %>
    <%= f.number_field :disease_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
